/*
 * @Description: 自定义主题颜色变量集
 * @Author: LiuZhen
 * @Date: 2018-09-17 16:47:52
 * @Last Modified by: LiuZhen
 * @Last Modified time: 2018-09-17 17:10:21
 */
/* color */
$main-color = #4272d2
$text-color = #474747
$warning-color = #ff5252
$active-color = #3864bc
$next-text-color = #757575
$tip-text-color = #b8b8b8
$icon-color = #abd0f4
$tag-color = #e8f4ff
$disabled-color = #d8d8d8
$separate-line-color = #e7e7e7
$global-background = #fff
$class-background = #fafafa
